.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-right: 5px;
    
}
.productHeading{
    color: blue;
    font-weight: 400;
}
.shoppingCart{
    width: 250px;
    height: 50px;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}